html{
    height: 100px;
}
body {
    /* background-image: url(./img/img8.jpg); */
    /* background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 100%; */
}


/* section 2 */
.sec2 img{
    width: 50PX;
    cursor: pointer;
} 
        /* Style pour la popup */
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            z-index: 1000;
        }

        /* Style pour le fond obscurci */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

/* Style pour le bouton de fermeture */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: #555;
}


